body{
  background: rgb(22, 22, 22);
  font: 1rem "Source Sans Pro", "Segoe UI", "Helvetica Neue", sans-serif;
  color: papayawhip;
}
.login-form{
  display: grid;
  grid-template-columns: 80% 20%;
  width: 30%;
  margin: auto;
}
.join-game-btn{
  border-radius: 0px 30px 30px 0px;
  background: rgb(72, 173, 58);
  font-size: 16px;
  padding-top: 12px;
  cursor: pointer;
}

.btn-ready-start:hover, .join-game-btn:hover, .btn-cancle:hover{
  background: rgb(101, 194, 89);
  transition: 0.2s;
}

.rejected {
  font-size: 18px;
  margin: 5px 0 0 10px;
  color:red;
}


.main-prepare{
  display: grid; 
  grid-gap: 25px;
}

.container-room{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap :10px;
  padding: 10px 15px 0px 15px;
  grid-template-rows: minmax(130, auto);
}
.prepare-room-container{
  border-radius: 5px;
  border: solid 1px rgb(236, 236, 232);
  grid-row-start: 1;
}
.other-room-container{
  border-radius: 5px;
  border: solid 1px rgb(236, 236, 232);
  grid-row: 1/10;
}
.prepare-player{
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  padding: 5px;
  background: rgb(236, 236, 232);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.btn-ready{
  padding-top: 5px;
  border-radius: 8px;
  color: white;
  width: 90px;
  padding: 2px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background: rgb(209, 14, 14);
}
.btn-cancle{
  padding-top: 5px;
  border-radius: 8px;
  color: white;
  width: 90px;
  font-size: 16px;
  padding: 2px;
  cursor: pointer;
  text-align: center;
  background: rgb(72, 173, 58);
}
.btn-ready-start{
  border-radius: 5px;
  color: white;
  height: 27px;
  cursor: pointer;
  text-align: center;
  background: rgb(72, 173, 58);
  padding-top: 10px;
}
.room-info:hover > .detail-info-room{
  display: block;
  margin: 43px 0px 10px 0px;
}
.detail-info-room{
  display: none;   
  position: absolute;
  border-radius: 4px;
  border: 1px solid rgb(202, 191, 191);
  /* border-top: 13px solid transparent; */
}
.room-info{
  cursor: pointer;
  background: rgb(236, 236, 232);
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
  display: grid;
  color: rgb(22,22,22);
  grid-template-columns: 80% 20%;
}
.title-room-hold {
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  position: relative;
  width: 200px;
  background: rgb(212, 193, 193);;
  border-radius: 3px;
  padding: 5px 0px 5px 10px;
}

.title-room-hold:after {
  content: '';
  position: absolute;
  top: 0;
  left: 20%;
  border: 5px solid transparent;
  border-bottom-color: rgb(212, 193, 193);
  border-top: 0;
  border-left: 10;
  margin-left: -0px;
  margin-top: -5px;
}
.other-room-name{
  font-size: 18px;
}
.pd-btn{
  margin: 5px 5px 5px 5px;
}
.room-title{
  font-size: 26px;
  font-weight: bold;
  color:#83d0f2;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid  rgb(236, 236, 232);
}
.room-list{
  padding: 0px 5px 0px 5px;
  overflow-x: scroll;
  height: 600px;
}
.btn-other-room{
  border-radius: 5px;
  color: white;
  height: 27px;
  cursor: pointer;
  text-align: center;
  background: rgb(199, 111, 28);
  padding-top: 10px;
}


/* =======Game====== */
.main-room{
  margin-top: 70px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 70% 30%;
  grid-template-rows: repeat(9, 70px)
}
.grid-tpm{
  background: rgb(22, 22, 22);
  border: 1px solid rgb(214, 209, 209);
  border-radius: 14px;
  color: white;
  padding: 7px 0px 0px 7px;
}
.room-player{
  grid-row: 1/3;
  grid-gap: 7px;
  display: grid;
  padding: 4px;
}
.status-player{
  grid-row: 1/4;
  padding: 8px 0px 0px 0px;
}
.enemy-player{
  padding: 4px;      
  grid-row: 3/10;
  /* display: grid; */
  /* grid-gap: 4px; */
  overflow-x: scroll;
}
.monitor-player{
  grid-row: 4/10;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  padding: 8px 0px 0px 0px;
}
.player{
  display: grid;
  grid-template-columns: 15% 85%;
  font-size: 22px;
  color: black;
  background: rgba(255, 255, 255, 0.9) linear-gradient(to top,rgba(240, 235, 235, 0.966),rgba(228, 218, 218, 0.904));
  border-radius: 10px;
  padding: 7px 0px 0px 7px;  
}
.detail-title{
  display: grid;
}
.detail-title-name{
  font-size: 26px;
  font-weight: bold;
}
.with-enemy{
  margin: 0px 0px 5px 0px;
  height: 132px;
}
.room-name-title{
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
  color: black;
  font-size: 30px;
  padding: 10px 0px 0px 15px;
  font-weight: bold;
  position: absolute;
  height: 50px;
  top: 0;
  right: 0;
  left: 0;
}
.status-circle{
  border-radius: 50%;
  background: green;
  height: 33px;
  width: 33px;
}
.status-player-title{
  color: #83d0f2; 
  font-size: 24px;
  font-weight: bold;
  padding: 0px 0px 5px 10px;
}
.chat-title{
  color: #83d0f2; 
  font-size: 24px;
  font-weight: bold;
  padding: 3px 0px 0px 10px;
}
.bd-btm{
  border-bottom: solid 1px rgb(214, 209, 209);
}
.status-name{
  font-size: 24px;
  margin-left: 10px;
}
.status-player-scroll{
  overflow-x: scroll;
  height: 165px;
}
.status-player-detail{
  display: flex;
  margin: 7px 0px 6px 10px;
  /* padding: 0px 0px 0px 10px;  */
}
.chat-detail{
  padding: 0px 10px 100px 10px;
  height: 242px;
  overflow-x: scroll;
}
.chat-info{
  margin-top:5px;
  font-size: 18px;
}
.chat-form{
  display: flex;
  
}
.chat-btn{
  flex-grow: 1;
  background: rgb(91, 13, 122);
  border-radius: 0px 0px 13px 0px;
  padding: 13px;
  font-size: 16px;
  cursor: pointer;
  border-top: solid 1px rgb(214, 209, 209);
}
.chat-btn:hover{
  background: rgb(105, 26, 141);
}
.chat-input{
  flex-grow: 25;
  height:42px;
  font-size: 18px;
  border: solid 1px rgb(214, 209, 209);
  border-radius: 0px 0px 0px 13px;
  padding: 0px 0px 0px 10px;
  background: rgb(55, 55, 55);
  color:rgb(255, 255, 255);
}
.detail-card{
  display: grid;
  margin-top: 10px;
}
/* .card-style{
  position: absolute;
  z-index:0;
  margin-left: 0px;
  margin-top: 20px;
  width: 75px;
  height: 115px;
} */