.bg {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
}

.card {
  background: #f5f5f5;
  color: #000000;
  width: 115px;
  height: 200px;
  margin: 30px 20px 0px 20px;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0,0,0,.5);
  font-weight: bold;
}

.card-columns{
  display: flex
}

.card-content{
  
}
.btn-joingame{
  border-color: #000000;
  margin-left: 0;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 28px;
}
.input-join-game{
  height: 35px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 5px 15px;
  box-sizing: border-box;
  width: 30%;
}
.player-name{
  color: white
}
.player-status {
	border-radius: 50%;
	width: 50px;
  height: 50px; 
}
