body{

  background: rgb(55, 55, 55);
  /* background: rgb(255, 255, 255); */
  font: 1rem "Source Sans Pro", "Segoe UI", "Helvetica Neue", sans-serif;
}
.main-prepare{
  display: grid; 
  grid-gap: 25px;
}
.invite-player{
  text-align: center;
  background: #FFFFFF;
  padding: 5px;
  font-size: 30px;
  color: rgb(55, 55, 55);
}
.prepare-player-list{
  display: grid;
  width: 30%;
  border-radius: 5px;
  margin: auto;
  grid-gap: 6px;
}
.prepare-player{
  font-size: 20px;
  align-self: center;
  padding: 5px;
  background: rgb(236, 236, 232);
  border-radius: 6px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.btn-ready{
  border-radius: 8px;
  color: white;
  width: 90px;
  padding: 2px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  background: red;

}
.btn-cancle{
  border-radius: 8px;
  color: white;
  width: 90px;
  font-size: 20px;
  padding: 2px;
  cursor: pointer;
  text-align: center;
  background: rgb(72, 173, 58);
}
.btn-ready-start{
  border-radius: 5px;
  color: white;
  width: 28em;
  height: 27px;
  padding-top: 10px;
  cursor: pointer;
  text-align: center;
  background: rgb(72, 173, 58);
}